.appContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.mainContainer {
  display: flex;
  height: 100%;
  flex: 1;
  position: relative;
}

/* 사이드바 전환 효과 */
.sidebar {
  /* transition: width 0.3s ease, padding 0.3s ease; */
  overflow: hidden; /* 접혔을 때 내용 숨김 */
}

/* 접힘 상태의 사이드바 */
.sidebar.collapsed {
  width: 0 !important;
  padding: 0 !important;
  border: none !important;
}

.leftSidebar {
  border-right: 1px solid #ddd;
}

.rightSidebar {
  border-left: 1px solid #ddd;
}

.WorkspaceContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.LyricsWorkspaceContainer {
  background-color: #fff;
  overflow: auto;
}

.MediaWorkspaceContainer {
  background-color: #eee;
  overflow: auto;
}

/* 리사이저 기본 스타일 */
.resizer {
  background-color: #ddd;
  position: relative; /* 자식 요소인 버튼을 절대 위치로 배치하기 위해 */
  z-index: 1;
}

.vertical.resizer {
  width: 4px;
  cursor: col-resize;
}

.horizontal.resizer {
  height: 4px;
  cursor: row-resize;
}

/* 리사이저 호버 효과 */
.resizer:hover {
  background-color: #aaa;
}

/* .resizer에 no_hover 클래스가 있을 때 호버 효과 비활성화 */
.resizer.no_hover:hover {
  background-color: #ddd; /* 기본 색상 유지 */
}

/* 토글 버튼 기본 스타일 */
.toggleButton {
  width: 6px;
  height: 100px;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  padding: 0;
  transition: background-color 0.2s;
}

/* toggleButton 호버 효과 */
.toggleButton:hover {
  background-color: #bbb;
}

.leftToggle {
  left: 50%;
  transform: translate(-50%, -50%);
}

.rightToggle {
  right: 50%;
  transform: translate(50%, -50%);
}

.toggleButton.collapsed {
  transform: translate(0%, -50%);
}